@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;font-display:block;src:url('../../assets/noto-sans-latin-700-normal.woff') format('woff')}
@font-face{font-family:'Noto Sans';font-style:italic;font-weight:400;font-display:block;src:url('../../assets/noto-sans-latin-400-italic.woff') format('woff')}
@font-face{font-family:'Noto Sans';font-style:italic;font-weight:700;font-display:block;src:url('../../assets/noto-sans-latin-700-italic.woff') format('woff')}
